body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.products, .cart, .checkout-cart {
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.product, .cart-items li {
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
}

.product h3, .product p, .product button, .cart-items li {
    margin: 0.5em 0;
}

.total {
    font-weight: bold;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
